<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="form-list">
    <h2>LOGIN PAGE</h2>
    <h1></h1>

 <form class="form" action="/login" method="post">
    <div class="Email">
        <label for="username">NAME</label>
        <input type="text" id="username" name="Username" placeholder="Enter Email or Username" required>
    </div>

    <div class="password">
        <label for="password">Password</label>
        <input type="password" id="password" name="Password" placeholder="Enter Password" required>
    </div>

        <p>Don't have an account <a href="signup">sign up</a></p>

        <button type="submit" > Login</button>
 </form>
</div>

</body>
</html>