/* Reset basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(45deg,
    #f8f7f7,#c5bfbb,#adada6,#8a8b89);
    display: flex;
    align-items: center;
    justify-content: center;
}   
h2{
    margin-bottom: 30px;
    text-align: center;
}
.form-list{
    width: 340px;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0) ;
    color:#ffffff;
    border-radius: 5px;
    background-color: rgb(0,0,0);
}

a{
    color: white;
}
 /* Email section */
 .Email{
    margin-bottom: 15px;

 }

.Email > label{
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
}
.Email > input{
   width: 100%;
   padding: 8px;
   font-size: 12px;
   border: 1px solid #fff6ff;
   border-radius: 3px;
}
/* User name section */
.username{
    margin-bottom: 15px;

 }

.username > label{
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
}
.username > input{
   width: 100%;
   padding: 8px;
   font-size: 10px;
   border: 1px solid #fff6ff;
   border-radius: 3px;
}

/* password section */

.password{
    margin-bottom: 15px;

 }

.password > label{
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
}
.password > input{
   width: 100%;
   padding: 8px;
   font-size: 12px;
   border: 1px solid #fff6ff;
   border-radius: 3px;
}

.form > button{
    width: 100%;
    padding: 10px;
    display: block;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    z-index: 0;

}
.form> button::after{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background:#333;
    left: 0;
    top: 0;
    border-radius: 6px;
}
.form> button::before{
    content: "";
    background:linear-gradient(45deg,
    #ff0000,#ff7300,#FFFB00,#48FF00,
    #00FFD5,#002BFF,#FF00C8,#FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width:  calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 6px;
    opacity: 1;
}
@keyframes glowing{
     0%{background-position: 0 0;}
     50%{background-position: 400% 0;}
     100%{background-position: 0 0;}
}
.form>button:hover::before{
    opacity: 1;
}
.form>button:active:after{
    background: transparent;
}
.form > p{
    margin-bottom: 5px;
}


